
.el-tabs__item {
    padding: 0 0px;
}

.el-tabs {
    --el-tabs-header-height: auto;
}



.side-bar .el-tabs__header{

    background-color: #282a34;

}


.el-tabs--left .el-tabs__header.is-left {
    float: left;
    margin-bottom: 0;
    margin-right: 0px;
}
